<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <h1>Administratörsidan</h2>

    <ul class="producers">
      <% for(let i=0; i < producers.length; i++) {%>
      <li class="producers">
        <span><%= producers[i].producer %></span>
        <span><%= producers[i].description %></span>
       
        <button onClick="deleteProducer('<%= producers[i]._id %>')" >Ta bort</button>
      </li>
      <% } %>
    </ul>

    <h2>Lägg till leverantör:</h2>
    <form action="/admin" method="POST">
       
      <div>
        <label for="producer">Namn: </label>
        <input type="text" id="producer" name="producer" required />
      </div>
      <div>
        <label for="producer">Beskrivning: </label>
        <input type="text" id="description" name="description" required />
      </div>

      <button type="submit">Lägg till leverantör</button>
    </form>

    <script src='./main.js'> </script>
  </body>
</html>
