<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Godisbutiken</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="newEggBox" class="blackBorder">
    <button class="blueButton">Nytt ägg</button>
    <button class="whiteButton">Köplistor</button>
  </div>


  <div><h1>Välkommen till Godisbutiken! </h1></div>
</body>
</html>