<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Välkommen till godisaffären</h2>

    <ul class="candy">
      <% for(let i=0; i < candy.length; i++) {%>
      <li class="candy">
        <span><%= candy[i].candy %></span>
        <span><%= candy[i].price %> kr</span>
        <button id= <%= candy[i]._id %> onClick="deleteReq(this.id)" >Ta bort</button>
      </li>
      <% } %>
    </ul>
    <form action="/producer" method="POST">
      <input type="text" placeholder="godis" name="candy" required />
      <input type="number" placeholder="0" name="price" required />
      <button type="submit">Lägg till</button>
    </form>
    <script src="./main.js"></script>
  </body>
</html>
