* {
  font-family: Arial, Helvetica, sans-serif;
}




#upperRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vh 0;
}

#newEggBox {
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

#eggWindow {
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

#newEggBox button {
  height: 40%;
}

#mainRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mainRow > div {
  width: 40vw;
  border: solid 2px;
}

#mainRow h2 {
  text-align: center;
}

#eggAndOffer {
  display:flex;
  flex-direction: column;
  justify-content: space-around
}


#candyFilterBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#candyList {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.candyItems span:first-child,
#headlines span:first-child {
  flex: 1 0 20%;
}

.candyItems span:nth-child(2),
#headlines span:nth-child(2),
.candyItems span:nth-child(3),
#headlines span:nth-child(3) {
  flex: 0 0 10%;
  min-width: 20%;
}

.candyItems span:nth-child(4){
  flex-grow: 2;
}

.candyItems span:nth-child(2){
  flex-shrink: 2;
}

.candyItems span:nth-child(5), .candyItems span:nth-child(6){
  width: 5%;
}

#headlines span,
.candyItems span {
  margin: 0.5em 0.5em;
}

#sortingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #bbb;
}

.sorting {
  text-decoration: underline;
}

.candyItems {
  display: flex;
  flex-direction: row;
}

#headlines {
  display: flex;
  flex-direction: row;
}

#eggAndOffer {
  flex-shrink: 2;
}

#resultWindow {
  align-self: flex-end;
  border: 2px black;
  height: 20%;
}

#savedEggList{
  display: flex;
  flex-direction: row;
  justify-content: space-around
}


.blackBorder {
  border-top: solid 1px;
}

.blueButton {
  background-color: cyan;
}

.greenButton {
  background-color: greenyellow;
}

.whiteButton {
  background-color: seashell;
}

.yellowButton {
  background-color: orange;
  padding: 0.8em;
}

.redButton {
  background-color: lightcoral;
}