* {
  font-family: Arial, Helvetica, sans-serif
}

#mainBox {
  display: flex;
  flex-direction: column;
}

#mainBox h1 {
  font-size: 1.8em;
}

#upperRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vh 0;
  
}

#newEggBox {
  width: 25vw;
  height: 10vh;

  display:flex;
  text-align: center;
  justify-content: space-around;
  align-items:center;
}

#newEggBox button {
  height: 40%;
}

#mainRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mainRow > div {
  border: solid 2px;
  width: 40vw;
}

#mainRow h2 {
  text-align: center;
}

#candyFilterBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


#candyList {
  display: flex;
  flex-direction: column;
}


.candyItems span:first-child, #headlines span:first-child  {
  flex: 1 0 20%;
  
}

.candyItems span:nth-child(2), #headlines span:nth-child(2), .candyItems span:nth-child(3), #headlines span:nth-child(3)  {
  flex: 0 0 10%;
  min-width: 20%;
}



#headlines span, .candyItems span {
  margin: 0.5em 0.5em;
}


#sortingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #bbb
}

.sorting {
  text-decoration: underline;
}


.candyItems {
  display: flex;
  flex-direction: row;

}

#headlines {
  display: flex;
  flex-direction: row;

}

#resultWindow {
  align-self: flex-end;
  border: 2px black;
  height: 20%;
}



.blackBorder {
  border: solid 2px;
}

.blueButton {
  background-color: cyan;
}

.greenButton {
  background-color: lime;
}

.whiteButton {
  background-color: seashell;
}

